{% extends "base.html"%}
{% load static %}

{% block content%}
<div class="container mt-5">
    <h1 class="text-center mb-4">About us</h1>
    <div class="row justify-content-center">
        <div class="col-md-8 card">
        <strong class="mb-4">Welcome to our restaurant!</strong>
        <p>
            BookMyTable is the name of a British restaurant that offers a wide variety of dishes,
            not only from English cuisine but also from several international culinary traditions.
        </p>
        <p>
            This cosy spot, located in the heart of London, was recently opened and,
            due to its success, the owner decided to create an online platform to make it easier
            to manage reservations and provide a more comfortable experience for our customers,
            eliminating queues at the entrance.
        </p>
        <p>
            We offer a wide selection of meals, some of which can already be viewed
            on our menu page.
        </p>
        <p>
            This website was created to make online booking easier and to give you a clear idea
            of the dishes we serve.
        </p>
        <p>
            All our dishes are prepared by experienced chefs, using fresh ingredients
            sourced from different countries to ensure the authenticity and quality of each flavour —
            just as they are prepared in their countries of origin.
        </p>
        <p>
            All the customer needs to do is register on our website, make a reservation 
            by selecting the date, time and number of guests,
            and then simply enjoy an unforgettable meal with our delicious dishes.
        </p>
            <br>
            <p class="mb-5"><strong>We look forward to welcoming you soon!</strong></p>
    </div>
    </div>
</div>
    
{% endblock%}