{% extends "base.html"%}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
        <h2 class="text-center mb-3">Make a Booking</h2>
        <!--Confirmation Alert-->
        <div class="alert d-flex align-items-center mt-4 alert-confirmation mx-auto" role="alert">
            <i class="fas fas fa-phone-alt fa-lg me-3"></i>
        <div>
        <strong>Confirmation Required:</strong><br>
        Please confirm your booking as soon as possible by calling the phone number
        provided below
        </div>
    </div>
        <!--Create New Booking-->
        {% if user.is_authenticated %}
        <form id="bookingForm" method="post">
            {{ booking_form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-submit">Submit</button>
        </form>
        {% else %}
        <p>Please log in to make a Booking</p>
        {% endif %}    
    </div>
</div>
</div>
{% endblock%}