{% extends "base.html"%}
{% load static%}
{% load crispy_forms_tags %}

{% block content %}
<div class="container my-4">
        <h2 class="text-center mb-3">My Bookings</h2>

        <!--View Bookings-->
        {% if bookings %}
        <ul class="list-group">
            {% for booking in bookings %}
            <li class="list-group-item mb-3">
                <div>
                <strong>Date:</strong> {{ booking.date }}<br>
                <strong>Time:</strong> {{ booking.time }}<br>
                <strong>Number of guests:</strong> {{ booking.guests }}<br>
                <strong>Status:</strong> {{ booking.get_status_display }}
                </div>

                {% if booking.status == 'pending' %}
                <div class="mt-2">
                    <!--Cancel Button-->
                    <form action="{% url 'cancel_booking' booking.id %}" method="post" onsubmit="return confirm('Are you sure you want to cancel this booking?');">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-danger float-end">Cancel</button>
                    </form>

                    <!--Edit Button-->
                    <button type="button" class="btn btn-sm btn-primary float-end me-3" onclick="showEditForm({{ booking.id }})">Edit</button>
                    {% endif %}

                  <!--Edit Form(initially hidden)-->
                <div id="edit-form-{{ booking.id}}" style="display: none;">
                <form method="POST" action="{% url 'edit_guests' booking.id %}" >
                    {% csrf_token %}
                    <input type="number" 
                    name="guests" class="form-control form-control-sm w-25"
                    min="1"
                    value="{{ booking.guests}}"
                    required>
                    <button type="submit" class="btn btn-sm btn-primary float-start mt-2">Update</button>
                </form>
            </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="text-center mt-4">You haven't made any bookings yet.</p>
        {% endif %}
</div>
{% endblock %}